.modal-user {
  padding: 5px 0;
}

.modal-name {
  font-size: 1em;
  font-weight: 900;
  margin-left: 10px;
  cursor: pointer;
}

.modal-name:hover {
  text-decoration: underline;
}

.modal-text {
  font-size: 1em;
  font-weight: 900;
  margin-left: 10px;
}
