.comment-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-all-comments-btn {
  margin-top: 10px;
  transition: var(--transition);
  background-color: var(--secondary-button-color);
}
