.wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }

  .info {
    text-align: center;
  }
}
