.user-wrapper {
  width: 100%;
  border: solid #c2c2c2 1px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0px 0px 10px #c0c3d3;
}

.user-avatar {
  margin-right: 1rem;
}

.user-information-wrapper {
  display: flex;
}

.user-information {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.user-name {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 0.3em;
}

.user-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.user-title {
  font-weight: 500;
  margin: 0 0 0.3em 0.3em;
}

.user-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  margin-top: 0.5em;
  flex-grow: 2;
  align-self: flex-end;
}

.user-you {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  gap: 0.2em;
  align-self: flex-start;
  font-size: 20px;
  line-height: 19px;
}
