.wrapper {
  width: 95%;
  max-width: 600px;
  margin: 2% auto 0;
}

.avatar {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1rem;
}

.button {
  display: block;
  min-width: 10%;
  margin: 1rem auto;
}
