@import-normalize;

* {
  margin: 0;
  padding: 0;
}

.app-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.logo {
  font-size: 24px;
  color: #fff;
}
