.post-header {
  gap: 10px;
}

.name-date {
  flex-grow: 1;
}

.post-name {
  font-size: 1em;
  font-weight: 900;
}

.post-name:hover {
  text-decoration: underline;
}

.post-date {
  font-size: 0.85em;
}

.post-like {
  display: flex;
  align-items: center;
}

.post-like-number:hover {
  text-decoration: underline;
  cursor: pointer;
}
