.post-form {
  position: relative;
  margin-bottom: 10px;
}

.image-post-form {
  padding: 10px 30px 0px 30px;
  opacity: 0.4;
}

.text-image-input {
  position: relative;
  margin: 10px 0;
}

.add-image-input {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.add-image-btn {
  position: absolute;
  width: 35px;
  height: 35px;
  font-size: 18px;
  line-height: 20px;
  padding: 7px 8px;
  left: 0;
  top: 0;
  cursor: pointer;
}

.add-image-logo {
  color: #1677ff;
}

.delete-image-btn {
  border-radius: 50%;
  position: absolute;
  width: 32px;
  font-size: 20px;
  line-height: 20px;
  padding: 4px;
  right: 0;
  bottom: top;
}

.delete-image-btn:hover {
  opacity: 1;
}

.add-post-btn {
  position: absolute;
  width: 32px;
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
  right: 0;
  bottom: 2px;
}

.cancel-update-post-btn {
  position: absolute;
  width: 32px;
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
  right: 0;
  top: 1px;
}

.post-form-input {
  background-color: var(--input-background);
  color: var(--main-text-color);
  border-color: var(--input-border);
}

.post-form-input::placeholder {
  color: var(--secondary-text-color);
}
