.ant-layout .ant-layout-sider-zero-width-trigger {
  top: -52px;
  inset-inline-end: unset;
}

.content {
  transition: var(--transition);
  background-color: var(--main-background);
}

:where(.css-dev-only-do-not-override-ixblex).ant-menu-dark .ant-menu-item-selected {
  background-color: var(--primary-button-color);
}

:where(.css-dev-only-do-not-override-ixblex).ant-menu-dark .ant-menu-item-selected:active {
  background-color: var(--primary-button-color);
}
