.form {
  position: relative;
}
.input {
  padding-right: 35px;
  background-color: var(--input-background);
  color: var(--main-text-color);
  border-color: var(--input-border);
}

.input::placeholder {
  color: var(--secondary-text-color);
}
.button {
  position: absolute;
  right: 0;
}

.input::-webkit-scrollbar {
  width: 12px;
}

.input::-webkit-scrollbar-track {
  background: transparent;
}

.input::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 20px;
  border: 2px solid var(--post-background);
}
