.ant-select-show-search:where(.css-dev-only-do-not-override-ixblex).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector
  input {
  background-color: var(--input-background);
  color: var(--main-text-color);
}

:where(.css-dev-only-do-not-override-ixblex).ant-select-single
  .ant-select-selector
  .ant-select-selection-placeholder {
  position: absolute;
  z-index: 2;
  color: var(--secondary-text-color);
}

.ant-select-show-search:where(.css-dev-only-do-not-override-ixblex).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background-color: var(--input-background);
  border-color: var(--input-border);
}
